body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
/*----------------------------------Image de fond de ma présentation du site----------------------------------*/
.container {
    width: 100%;
    background-image: url(Images/ImageFond4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 35vh; /*pour ajouster la taille de mon image d'accueil*/
    padding-bottom: 3vh; /*pour ajouster la taille de mon image d'accueil*/
    margin: 0;
}
.bannertext {
    margin-left: 12vw;
    margin-bottom: 32vh; /*pour ajouster la taille de mon image d'accueil*/
    font-size: 2em;
    color: white;
}
.bannertext h1 {
    margin-bottom: 0;
}
.bannertext p {
    margin-top: 1vh;
}
.gifFlecheAccueil {
    margin: auto;
    display: flex;
}
.bouton {
    background-color: transparent;
    color: white;
    border: 0.3vh solid white;
    padding: 1vh 2vw;
    display: inline-block;
    font-size: 0.6em;
    margin-right: 0.8vw;
    text-decoration: none;
    transition: border-color 200ms;
}
.bouton:hover {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
a:visited {
    color: transparent;
}
/*----------------------------------Barre de navigation----------------------------------*/
.barreMenuAccueil {
    position: fixed;
    top: -8vh;
    width: 100%;
    height: 8vh;
    background-color: rgb(255,255,255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: top 0.5s;
}
.barreMenu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(255,255,255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.nomPrenomStatut {
    margin-left: 5vw;
    text-align: center;
    font-size: 1em;
    color: black;
}
.nomPrenomStatut h2 {
    margin: 0;
}
.nomPrenomStatut p {
    margin: 0;
    margin-top: 0.6vh;
}
nav {
    margin-right: 5vw;
}
li {
    display: inline;   
    margin-left: 3vw;
}
li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}
/*----------------------------------Présentation première page----------------------------------*/
#presentation {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 48%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#presentation h1 {
    font-size: 2.6em;
    margin-bottom: 0;
    margin-bottom: 0.5vw;
}
#presentation h2 {
    margin-top: 0;
    font-size: 1.4em;
    color: rgb(27, 200, 255);
    font-family: Calibri;
}
#presentation hr {
    border: 1px solid  rgb(150, 150, 150);
    margin: 5vh auto 10vh auto;
    width: 40%;
}
#presentation p {
    font-size: 1.3em;
    font-family: Arial;
    color: rgb(80, 80, 80);
}
/*----------------------------------Expériences----------------------------------*/
.main {
    padding: 10vh 10vw;
    background-color: rgb(245, 245, 245);
}
.titreExp {
    text-align: center;
    font-size: 1.5em;
    margin-top: 4vw;
    margin-bottom: 8vh
}
.experiences {
    margin: 0;
    padding: 0;
}
.experience {
    margin: 0;
    width: 100%;
    display: flex;
}
article {
    width: 90%;
    padding: 0 2vw 6vh 2vw; /*Ajuster ici l'espace entre chaque expérience (attention à vérifier l'aligmement des étoiles)*/
}
.ligneLogo {
    display: flex;
    width: 10%;
    justify-content: center;
}
.imageLogoExperiences {
    position: absolute;
    /*margin-top: 2.4vh;*/ /*Ajuster ici la hauteur de l'étoile pour chaque expérience*/
    width: 3.5em;
    height: auto;
}
hr {
    margin-top: 0;
    margin-bottom: 0;
}
.descriptionExp{
    padding: 1vh;
    background-color: white;
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.1);
                

}
.date {
    margin-bottom: 0;
}
.sansPadTop {
    margin-top: 0
    ;
}
.descriptionExp h2 {
    margin-top: 0;
}
.descriptionExp p {
    color: rgb(45, 45, 45);
}
.descriptionExp i {
    color: rgb(80, 80, 80);
}
.descriptionExp h2, p {
    font-family: Arial;
}
.l {
    margin-left: 25%;
}








/*----------------------------------Compétences----------------------------------*/
.mainCompetences {
    padding: 10vh 20vw 0 20vw;
    background-color: rgb(240, 240, 240);
    padding-bottom: 5vh;
}
.competences h1 {
    text-align: center;
    margin-bottom: 5vh;
}
.competencesList {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    font-size: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
                -2px -2px 4px rgba(0, 0, 0, 0.2),
                2px -2px 4px rgba(0, 0, 0, 0.2),
                -2px 2px 4px rgba(0, 0, 0, 0.2);
}
/*----------------------------------Formation----------------------------------*/
.mainFormation {
    padding: 10vh 20vw 0 20vw;
    background-color: rgb(240, 240, 240);
}
.formations {
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.formations h1 {
    text-align: center;
    margin-bottom: 5vh;
}
.formation1 {
    padding-top: 0.1vh;
    text-align: center;
    font-size: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
                -2px -2px 4px rgba(0, 0, 0, 0.2),
                2px -2px 4px rgba(0, 0, 0, 0.2),
                -2px 2px 4px rgba(0, 0, 0, 0.2);
}
.formation1 p {
    padding-bottom: 1.25vh;
}
.formation2 {
    padding-top: 0.1vh;
    text-align: center;
    font-size: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
                -2px -2px 4px rgba(0, 0, 0, 0.2),
                2px -2px 4px rgba(0, 0, 0, 0.2),
                -2px 2px 4px rgba(0, 0, 0, 0.2);
}
.formation2 p {
    padding-bottom: 1.25vh;
}
.formation3 {
    padding-top: 0.1vh;
    text-align: center;
    font-size: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
                -2px -2px 4px rgba(0, 0, 0, 0.2),
                2px -2px 4px rgba(0, 0, 0, 0.2),
                -2px 2px 4px rgba(0, 0, 0, 0.2);
}
.formation3 p {
    padding-bottom: 1.25vh;
}
.formation4 {
    padding-top: 0.1vh;
    text-align: center;
    font-size: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
                -2px -2px 4px rgba(0, 0, 0, 0.2),
                2px -2px 4px rgba(0, 0, 0, 0.2),
                -2px 2px 4px rgba(0, 0, 0, 0.2);
}
.formation4 p {
    padding-bottom: 1.25vh;
}
/*----------------------------------CV----------------------------------*/
.CV {
    padding-top: 15vh;
    text-align: center;
}
.imgCV {
    width: 1200px;
    height: auto;
}
/*----------------------------------Footer----------------------------------*/
.footer {
    margin-top: 5vh;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 6vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer img {
    width: 35%;
    height: auto;
}
.footer p {
    margin-left: 2vw;
}
.linkedin {
    display: flex;
    align-items: center;
}
.linkedin p {
    margin-right: 0.6vw;
}




















/*---------------------------test--------------------------*/






/*.principale {
    padding: 10vh 10vw 0 10vw;
    background-color: rgb(245, 245, 245);
}
.listeexperiences {
    border: 1px solid red;
}
.listeexp {
    border: 1px solid blue;
    padding: 0;
    margin: 0;
    height: 70vh;
    
}
.exp {
    margin: 0;
    border: 1px solid black;
    height: 20vh;
    display: flex;
}
.lignetemps {
    width: 20%;
    border: 1px solid black;
}

.desc {
    height: 100%;
    border: 1px solid black;
}*/





























/*
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
}

.timeline-step {
    position: relative;
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;

    margin-left: -10px; /* Largeur de la ligne verticale */
  /*  height: 100%;
    border-left: 2px solid #ccc; /* Couleur de la ligne verticale */
/*}
.timeline-step::after {
    content: '\2022'; /* Code du caractère pour un point (•) */
  /*  position: absolute;
    top: 50%;
    left: -30px; /* Ajustez la position du point selon vos besoins */
    /*transform: translateY(-50%);
    font-size: 20vh; /* Ajustez la taille du point selon vos besoins */
    /*color: #555; /* Couleur du point */
/*}


.timeline-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.timeline-date {
    font-size: 14px;
    color: #555;
}

.timeline-content {
    font-size: 16px;
    line-height: 1.6;
}*/
